body {
	font-family:"Comic Relief", sans-serif;
	font-optical-sizing: auto;
 	font-weight: 500;
	font-size: larger;
	font-style: normal;		
	color: #161515;
  	background-color: #18120c;
	/* margin-left: 10em;
	margin-right: 10em	;
	margin-top: 5em;
	margin-bottom:10em; */
	max-width: 800px;
	padding:1em;
	margin: 2em auto;
}

h1 {
	text-align: center;
	font-weight: 500;
	color:#e9ddd4;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
  display: inline;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  display: inline;
}

a {
	color:rgb(72, 13, 117);
	text-decoration:dotted;
	
}

#textBody {
background-color: #e9ddd4;
padding:2em;
}